Flask
gunicorn
joblib
matplotlib
pyserial
scipy
tensorflow==2.19.0
xhtml2pdf
html5lib
numpy
pandas
opencv-python
mediapipe
scikit-learn==1.4.2
seaborn
imutils          
requests    
gdown
lightgbm
xgboost
pycairo==1.28.0
graphviz==0.20.3
